body {
	background-image: url(../images/loginbg.png);
}

#myform {
	padding: 15px 20px;
	margin: 0 auto;
	width: 400px;
}

#myform fieldset{
	background-image:url(../images/loginback.png);
	background-repeat: repeat-x;
}

#myform h3 { margin-top: 0px; }
#myform p { font-size: 11px; }

#myform input { background-color: #333; height: 30px; }
#myform input:focus { background-color: #555; border: 3px solid grey;}

.error {
	height: 30px;
	background-color: #FF0000;
	font-size: 11px;
	border: 1px solid #000000;
	margin-left: -2px;
	padding: 3px 2px;
	
	-moz-box-shadow: 0 0 6px #ddd;
	-webkit-box-shadow: 0 0 6px #ddd;
}

#exposeMask {
	background:#678 url(../images/exposemask.png) no-repeat;
	background-position: -269 -79;
}
